@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}


.my_container {
	max-width: 1200px;
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
 }

.header { 
	width: 100%;
	background-color: black;
	color: white;
}

.head_container {

}

.navbar-brand {
	width: 122px;
}

.navbar-nav {
	align-items: end;
}	

.menu_item {
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.striker {
	background-image: url(img/striker_drones.jpg);
	background-position: center;
	min-height: 630px;
}

.striker_container {
	height: 600px;
}

.main_title {
	font-family:  "Fjalla One", sans-serif;
	font-size: 80px;
	font-weight: 400;
	line-height: 0.95em;
	margin-bottom: 50px;
}

@media (min-width: 650px) {
	.main_title {
	  font-size: 110px;
	}
}

@media (min-width: 768px) {
	.main_title {
	  font-size: 140px;
	}
}


.striker_title span {
	font-family:  Lato, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
}

.green_line {
	height: 3px;
	background-color: #0ad19d;
	border-radius: 2px;
  }
  

.gray_line {
	margin-left: 15px;
	height: 3px;
	width: 10%;
	background-color: #144d3e;
	border-radius: 2px;
}

.button_rent {
	width: 156px;
	height: 62px;
	color: white;
	background-color: #F52E62;
	border: 0px;
}

.button_learn {
	width: 156px;
	height: 62px;
	color: white;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid rgb(116, 120, 124);
  }
  

.about {
	background-image: url(img/background_about.png);
	background-position: center;
	position: relative;
}
.about_container {
	min-height: 500px;
	position: relative;
	z-index: 2;
} 

.about::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 29, 30, 0.66);
	z-index: 1;
}

.drone_img_about img {

}

.about_content {

}

.about_title {

}

.about p {

}
.about span {
	color: rgb(197, 197, 197);

}  
.table_statistic {
	min-width: 350px;

	
}

.stat_row {

}

.stat_col_green {

	font-size: 27px;
	color: rgb(10, 209, 157);
	vertical-align: baseline;
}

.stat_col_white {

	font-size: 23px;
	vertical-align: baseline;
}

