* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}


.container {
	max-width: 1200px;
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
	border: 2px solid red;
 }

.header { 
	width: 100%;
	border: 2px solid red;
}

.head_container {
	border: 2px solid red;
}

