@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}


.my_container {
	max-width: 1200px;
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
	border: 2px solid red;
 }

.header { 
	width: 100%;
	border: 2px solid red;
	background-color: black;
	color: white;
}

.head_container {
	border: 2px solid red;
}

.striker {
	background-image: url(img/striker_drones.jpg);
	background-position: center;
	border: 2px solid red;
	min-height: 630px;
	

}

.striker_container {
	height: 600px;
	border: 2px solid red;

}

.striker_title {
	border: 2px solid red;
}

.main_title {
	font-family:  "Fjalla One", sans-serif;
	font-size: 140px;
	font-weight: 400;
	line-height: 0.9em;

}


.gr_gr_lines {
	border: 2px solid red;
}

.green_line {
	height: 3px;
	width: 70px;
	background-color: #0ad19d;
	border-radius: 2px;
}

.gray_line {
	margin-left: 15px;
	height: 3px;
	width: 35px;
	background-color: #144d3e;
	border-radius: 2px;
}

.striker_buttons {
	border: 2px solid red;
}

.btn_rent {
	border: 2px solid red;
	width: 156px;
	height: 62px;
}

.btn_learn {
	border: 2px solid red;
	width: 156px;
	height: 62px;
}

.about {
	background-image: url(img/background_about.png);
	background-position: center;
	position: relative;
	border: 2px solid red;
}
.about_container {
	min-height: 500px;
	position: relative;
	z-index: 2;
	border: 2px solid red;
} 

.about::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 29, 30, 0.66);
	z-index: 1;
}

.drone_img_about img {
	border: 2px solid red;
}

.about_content {
	border: 2px solid red;
}

.about_title {
	border: 2px solid red;
}

.about p {
	border: 2px solid red;
}
.about span {
	color: rgb(197, 197, 197);
	border: 2px solid red;
}  
.table_statistic {
	min-width: 350px;
	border: 2px solid red;
	
}

.stat_row {
	border: 2px solid red;
}

.stat_col_green {
	border: 2px solid red;
	font-size: 27px;
	color: rgb(10, 209, 157);
	vertical-align: baseline;
}

.stat_col_white {
	border: 2px solid red;
	font-size: 23px;
	vertical-align: baseline;
}

